.feed{
  background-color: #F5F5F5;
}

.header-image {
  background-size: cover;
}

.mat-card {
  margin: auto;
  max-width: 40%;
}

.item{
  margin-bottom : 1%;
}

#tags{
  font-weight: bolder;
  margin-bottom: 4%;
}

.header-buttons{
  padding-top: 25px;
}

.action-buttons, .header-buttons{
  text-align: center;
}

.inputComment, .mat-card-footer {
  width: 100%;
  margin: auto;
  padding: 2%;
}
