<div class="feed">

  <div  *ngFor="let item of dashBoardData">
    <div *ngIf="checkKey(item,'publication')">

        <mat-card class="item">

            <mat-card-header>
              <div mat-card-avatar [ngStyle]="{'background-image': 'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'}" class="header-image"></div>

              <mat-card-title *ngIf="checkKey(item['publication'],'poster')">
                {{item['publication']['poster']['displayName']}}
                <mat-card-subtitle>
                  {{getTimeOfPost(item['date'])}}
                </mat-card-subtitle>
              </mat-card-title>

              <mat-card-subtitle *ngIf="checkKey(item['publication'],'shared_job')">
                {{item['publication']['shared_job']['title']}}
              </mat-card-subtitle>

             </mat-card-header>

             <mat-card-content *ngIf="checkKey(item['publication'],'shared_job')">
               <div [innerHTML]="item['publication']['shared_job']['mission']"></div>
             </mat-card-content>


          <mat-card-actions class="action-buttons">
            <button mat-button color="primary"><mat-icon>thumb_up_alt</mat-icon> 12 Likes</button>
            <button mat-button color="primary"><mat-icon>comment</mat-icon> Comments</button>
            <button mat-button color="primary"><mat-icon>share</mat-icon> Share</button>
          </mat-card-actions>

         </mat-card>

    </div>
  </div>

</div>
