.feed{
  background-color: #F5F5F5;
}

.header-image {
  background-size: cover;
}

.mat-card {
  margin: auto;
  max-width: 600px;
}

.item{
  margin-bottom : 1%;
}

#tags{
  font-weight: bolder;
  margin-bottom: 4%;
}

.inputComment, mat-card-footer {
  width: 100%;
  padding: 2%;
}
