<div class="feed">

  <mat-card class="item">

    <mat-card-actions class="header-buttons">
      <button mat-button ><mat-icon>outlined_flag</mat-icon> Besoin d'aide !</button>
      <button mat-button ><mat-icon>chat_bubble_outline</mat-icon> Partager un truc intéressant </button>
    </mat-card-actions>

  </mat-card>

  <div  *ngFor="let item of dashBoardData">
    <div *ngIf="checkKey(item,'publication')">

        <mat-card class="item">

          <mat-card-header>

            <!-- Normalement, cette ligne la doit faire afficher la bonne image.-->
            <!--<div mat-card-avatar [ngStyle]="{'background-image': 'url(' + item['publication']['company']['logo'] + ')'}" class="header-item-image"></div>-->

            <div mat-card-avatar [ngStyle]="{'background-image': 'url(https://material.angular.io/assets/img/examples/shiba1.jpg)'}" class="header-item-image"></div>

            <mat-card-title *ngIf="checkKey(item['publication'],'poster')">
              {{item['publication']['poster']['displayName']}}
            </mat-card-title>

            <mat-card-subtitle>
              {{getTimeOfPost(item['date'])}}
            </mat-card-subtitle>

            <mat-card-subtitle *ngIf="checkKey(item['publication'],'company')">
              <div [innerHTML]="item['publication']['company']['home_tab']['description']"></div>
            </mat-card-subtitle>

          </mat-card-header>

          <div id="tags">
              <ng-container *ngFor="let tag of item['publication']['tags']" >
                #{{tag['name']}}
              </ng-container>
          </div>

          <mat-card-content *ngIf="checkKey(item['publication'],'shared_job')">
            <h5>{{item['publication']['shared_job']['title']}}</h5>
            <div [innerHTML]="item['publication']['shared_job']['mission']"></div>
          </mat-card-content>

          <mat-card-actions class="action-buttons">
            <button mat-button color="primary"><mat-icon>add_circle_outline</mat-icon> Envoyer un Thanx !</button>
            <button mat-button color="primary"><mat-icon>share</mat-icon> Partager à un  ami !</button>
          </mat-card-actions>

          <mat-card-footer>
            <hr>
            <mat-form-field class="inputComment">
              <mat-label>Laisser un commentaire</mat-label>
              <textarea matInput placeholder="Ex. Un commentaire..."></textarea>
            </mat-form-field>
          </mat-card-footer>

        </mat-card>

    </div>
  </div>

</div>
